/* global property */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

html {
    font-size:62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #132C33;
    margin: 0;
    padding: 0;
}

article {
    margin-bottom: 5rem;
    padding: 5rem 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

.slide-item {
    display: none;
}

.card {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2rem;
    padding: 5rem;
    margin-top: 2rem;
}

.btn {
    background-color: rgba(18, 110, 130, 0.5);
    border: none;
    color: white;
    border-radius: 2rem;
    padding: 0.1rem;
    cursor: pointer;
    display: block;
  }

.btn:hover {
    background-color: #126E82;
}

.ic-right-arrow {
    content: url('../assets/image/ic_right_arrow.svg');
    padding: 1rem;
    height: 3em;
    width: 3em;
}

.ic-left-arrow {
    content: url('../assets/image/ic_left_arrow.svg');
    padding: 1rem;
    height: 3em;
    width: 3em;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
}


/* nav property */

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 2rem;
}

nav a:hover {
    font-weight: bold;
}

nav {
    display: flex;
    background-color: white;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(19, 44, 51, 0.2));
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    font-size: 1.8rem;
    font-weight: 400;
    color: #132C33;
    text-decoration: none;
}

#menu {
    height: 3rem;
    display: none;
}

#nav-logo, #nav-section {
    flex-basis: 50%;
}

#nav-logo {
    display: flex;
    justify-content: flex-start;
}

#logo {
    height: 5.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
}

#menu-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#nav-item-about {
    background-color: #126E82;
    color: white;
    border-radius: 1.5rem;
    padding: 0.8rem;
}


/* main section property */

#main {
    margin-top: 5rem;
    display: flex;
    background-image: url("../assets/image/bg_main.svg");
    background-size: cover;
}

#main div {
    margin: 15rem 8rem 0 3rem;
}

#main img {
    width: 1rem;
    margin: 5rem 2rem 20rem 10rem;
}

#main p {
    font-size: 2.2rem;
}

.flex-main-item {
    flex-basis: 50%;
}


/* strength section property */

#kelebihan h1 {
    text-align: center;
}

.flex-strength-item {
    flex-basis: 33.333%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-strength-item img {
    width: 40%;
}


/* project section property */

#project {
    background-image: url("../assets/image/bg_project.svg");
    background-size: cover;
}

#project h1, #project h2, #project > p {
    text-align: center;
}

#project h1 {
    top: 100rem;
    animation-name: slide;
    animation-duration: 2s;
}

#project .slide-item {
    margin: 2rem auto 2rem;
    width: 80%;
    animation-name: slide;
    animation-duration: 2s;
}

#project .slide-item p {
    text-align: justify;
}

#project .flex-container-row div {
    flex-basis: 80%;
}

#project .slide-mark, #project .btn {
    flex-basis: 5%;
    margin: 0 1rem 2rem;
}

.slide-item img {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* testimony section property */

#testimoni {
    background-image: url(../assets/image/bg_testi.svg);
}

#testimoni h1 {
    text-align: center;
}

#flex-testi-list-row {
    display: flex;
    margin: 2rem 15rem;
}

.flex-testi-list-column {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0;
}

.flex-testi-item {
    flex-basis: 33.333%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-testi-item img {
    height: 10rem;
}

.flex-testi-item p {
    margin: 0;
}


/* about section property */

#about h1 {
    border-top-style: groove;
    box-shadow: inset 0 0.7rem 0.3rem -0.3rem rgba(0, 0, 0, 0.1);
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 7rem;
    text-align: center;
}

#container-about {
    background-image: url('../assets/image/bg_about.svg');
    background-size: cover;
    width: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#container-about th, #container-about td {
    font-size: 1.5rem;
}

#container-about th {
    text-align: left;
    padding-right: 2rem;
}

#flex-about-head {
    display: flex;
}

.flex-about-item img {
    width: 10rem;
    display: flex;
    justify-content: flex-start;
    flex-basis: 40%;
    margin-bottom: 1rem;
}

.flex-about-item h2 {
    margin: 5rem 2rem 0;
    flex-basis: 60%;
}


/* footer section property */

footer {
    padding: 1rem;
    color: white;
    background-color: #126E82;
}

footer p {
    margin-left: 2rem;
}


/* animation */

@-webkit-keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* make responsive */

@media screen and (max-width: 870px) {
    html {
        font-size: 42%;
    }

    .ic-right-arrow {
        content: url('../assets/image/ic_right_arrow.svg');
        padding: 1rem;
        height: 1.5em;
        width: 1.5em;
    }
    
    .ic-left-arrow {
        content: url('../assets/image/ic_left_arrow.svg');
        padding: 1rem;
        height: 1.5em;
        width: 1.5em;
    }


    /* navigation property */

    #logo {
        height: 4.5rem;
    }

    nav li {
        display: block;
        margin: 0;
    }

    #nav-item-about {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        color: #132C33;
    }

    #menu {
        height: 2.5rem;
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        margin-right: 3rem;
    }

    #menu-items {
		position: absolute;
		display: none;
		box-shadow: 0px 10px 16px rgba(0,0,0,0.2);
		z-index: 1;
        padding: 2rem;
		background-color: white;
	}

    #menu-container:hover #menu-items {
		display: block;
        margin: 5rem 2rem;
	}
 
	#menu-items a {
        display: block;
        text-align: left;
        padding: 1rem;
		color: #132C33 !important;
	}
 
	#menu-items a:hover {
		color: #132C33 !important;
		background: #f3f3f3 !important;
	}
 

    /* main section property */

    #main {
        flex-direction: column;
    }

    #main img {
        width: 20rem;
        display: block;
        margin: 5rem auto 0;
    }
    
    #main div {
        text-align: center;
        padding-bottom: 4rem;
        display: block;
        margin: 0 2rem 0;
    }


    /* strength section property */

    .strength-desc {
        display: none;
    }

    .flex-strength-item h2 {
        font-size: 2rem;
        font-weight: normal;
    }


    /* testi section property */

    #flex-testi-list-row {
        flex-direction: column;
        margin: 4rem 10rem;
    }

    .flex-testi-list-column {
        margin-bottom: 2rem;
    }


    /* about section property */

    #container-about {
        width: 40rem;

    }
}